<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- <title>Neumorphism Login Form UI | CodingNepal</title> -->
      <link rel="stylesheet" href="../static/style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

   </head>
   <body align="center">

      <div class="content" align="center">
         <div class="text">
            Login Form
         </div>
         <form action="{{url_for('auth.login')}}" align="center" method = "post" >
            <div class="field">
               <input type="text" name = "Email_address" id ="Email_address" required>
               <span class="fas fa-user"></span>
               <label>Email or Phone</label>
            </div>
            <div class="field">
               <input type="password" name="password" id="password" required>
               <span class="fas fa-lock"></span>
               <label>Password</label>
            </div>
            <div class="forgot-pass">
               <a href="resetPassword.html">Forgot Password?</a>
            </div>
            <button onclick="window.location.href='index.html'"> Sign In </button>
            <div class="msg">{{msg}}</div>
            <div class="sign-up">
               Not a member?
               <a href="/signup">signup now</a>
            </div>
         </form>
      </div>
   </body>
</html>