<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Invoice</title>
      <link rel="stylesheet" href="../static/style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
   </head>
   <body align="center">

    

    <div class="wrapper">
        <div class="left">
            profile picture
            <h4>Saad Itani</h4>
            <p>Web Developer</p>
        </div>

        <div class="right">
            <div class="info">
                <h3>Information</h3>
                <div class="info_data">
                    <div class="data">
                        <h4>Email</h4>
                        <p>Saaditani@gmail.com</p>
                    </div>
                    <div class="data">
                        <h4>Phone</h4>
                        <p>01 234 567</p>
                    </div>
                </div>
            </div>
           <h2>Profile Page</h2>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>ID:</td>
            <td>{{ account['ID'] }}</td>
        </tr>
        <tr>
            <td>First_Name:</td>
            <td>{{ account['First_Name'] }}</td>
        </tr>
        <tr>
            <td>Last_Name:</td>
            <td>{{ account['Last_Name'] }}</td>
        </tr>
       <tr>
            <td>Email_address:</td>
            <td>{{ account['Email_address'] }}</td>
        </tr>
       <tr>
            <td>Password:</td>
            <td>{{ account['Password'] }}</td>
        </tr>
       <tr>
            <td>Dob:</td>
            <td>{{ account['Dob'] }}</td>
        </tr>
       <tr>
            <td>Balance:</td>
            <td>{{ account['Balance'] }}</td>
       </tr>
    </table>
</div>
            
            <!-- second div -->

            <div class="projects">
                <h3>Buttons</h3>
                <div class="info_data">
                    <div class="data">
                        <h4>Recent Visit</h4>
                        <p>November 28, 2022</p>
                    </div>
                    <div class="data">
                        <h4>Longest Time Stayed</h4>
                        <p>1 week</p>
                    </div>
                </div>
            </div>

            <div class="buttons">
                <ul>
                    <button class="history">History</button>
                    <button class="views">Invoices</button>
                </ul>
            </div>

        </div>
    </div>
   </body>
</html>
