<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HOTEL GP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/main.css">
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
        <link rel = "icon" href = "images/logo.png" type = "image/png">
    </head>
    <body>
        
        <!-- header -->
        <header class = "header" id = "header">
            <div class = "head-top">
                <div class = "site-name">
                    <span>Hotel California</span>
                </div>
                <div class = "site-nav">
                    <span id = "nav-btn">MENU <i class = "fas fa-bars"></i></span>
                </div>
            </div>

            <div class = "head-bottom flex">
                <h2>NICE AND COMFORTABLE PLACE TO STAY</h2>
                <a href="#rooms-list">
                    <button class="rooms-button">Scroll Down To Check Available Rooms</button>
                </a>
                
                
            </div>
            <!--search bar for booking rooms-->
            <div class = "book">
                <form class = "book-form" action="{{url_for('views.reservation')}}" align="center" method = "post">
                    <div class = "form-item">
                        <label for = "checkin-date">CheckInDate: </label>
                        <input type = "date" id = "chekin-date" name = "checkin-date">
                    </div>
                    <div class = "form-item">
                        <label for = "checkout-date">CheckOutDate: </label>
                        <input type = "date" id = "chekout-date" name = "checkout-date">
                    </div>
                    <div class = "form-item">
                        <label for = "adult">RoomType </label>
                        <select id="adult">
                            <option value="country">Select RoomType</option>
                            <option value="country">Single</option>
                            <option value="country">Double</option>

                        </select>
                    </div>
                    <div class = "form-item">
                        <label for = "rooms">RoomNumber: </label>
                        <input type = "number" min = "1" value = "1" id = "rooms">
                    </div>
                    <div class = "form-item">
                        <input type = "submit" class = "btn" value = "Book Now">
                    </div>
                </form>
            </div>

        </header>
        <!-- end of header -->

        <!-- side navbar -->
        <div class = "sidenav" id = "sidenav">
            <span class = "cancel-btn" id = "cancel-btn">
                <i class = "fas fa-times"></i>
            </span>

            <ul class = "navbar">
                <li><a href = "#header">home</a></li>
                <li><a href = "rooms.html">rooms</a></li>
            </ul>
            <a href="signUp.html">
                <button class = "btn sign-up">sign up</button>
            </a>
            
            <a href="login.html">
                <button class = "btn log-in">log in</button>
            </a>
        </div>
        <!-- end of side navbar -->

        <!-- fullscreen modal -->
        <div id = "modal"></div>
        <!-- end of fullscreen modal -->

        <!-- body content  -->
        
        <!--start of single rooms-->
        <section class = "rooms sec-width" id = "rooms">
            <div class = "title">
                <h2>Single Rooms</h2>
            </div>
            <div class = "rooms-container" id="rooms-list">

                <article class = "room">
                    <div class = "room-image">
                        <img src = "images/img2.jpg" alt = "room image">
                    </div>
                    <div class = "room-text">
                        <h3>Luxury Rooms</h3>
                        <ul>
                            <li>
                                <i class = "fas fa-arrow-alt-circle-right"></i>
                                Single Room
                            </li>
                            <li>
                                <i class = "fas fa-arrow-alt-circle-right"></i>
                                Available
                            </li>
                            <li>
                                <i class = "fas fa-arrow-alt-circle-right"></i>
                                Sea View
                            </li>
                        </ul>
                        <p>Located in Aqaba, within 80 m of Al-Ghandour Beach and 600 m of Royal Yacht Club, Sea View hotel providesaccommodation, restaurant . The accommodation features a 24-hour front desk and room service for guests.
                            A continental breakfast is available daily at the hotel.</p>
                        
                        <p class = "rate">
                            <span>$129.99 /</span> Per Night
                        </p>
                        <button type = "button" class = "btn">book now</button>
                    </div>
                </article>

            </div>
            <div class = "rooms-container" id="rooms-list">

                <article class = "room">
                    <div class = "room-image">
                        <img src = "images/img2.jpg" alt = "room image">
                    </div>
                    <div class = "room-text">
                        <h3>Luxury Rooms</h3>
                        <ul>
                            <li>
                                <i class = "fas fa-arrow-alt-circle-right"></i>
                                Single Room
                            </li>
                            <li>
                                <i class = "fas fa-arrow-alt-circle-right"></i>
                                Available
                            </li>
                            <li>
                                <i class = "fas fa-arrow-alt-circle-right"></i>
                                Mountain View
                            </li>
                        </ul>
                        <p>This luxurious room has everything you need for your stay. The unit comes with Wi-Fi, breakfast, and a TV. During your stay, you can also enjoy using a convenient gym, hot tub, and pool. Our Airbnb is within driving distance to several popular restaurants, bars, and shops. An ideal base to explore Beirut.</p>
                         
                        <p class = "rate">
                            <span>$149.99 /</span> Per Night
                        </p>
                        <button type = "button" class = "btn">book now</button>
                    </div>
                </article>
          
            </div>
            <div class = "rooms-container" id="rooms-list">
                
                
        
                <article class = "room">
                    <div class = "room-image">
                        <img src = "images/img2.jpg" alt = "room image">
                    </div>
                    <div class = "room-text">
                        <h3>Luxury Rooms</h3>
                        <ul>
                            <li>
                                <i class = "fas fa-arrow-alt-circle-right"></i>
                                Single
                            </li>
                            <li>
                                <i class = "fas fa-arrow-alt-circle-right"></i>
                                Available
                            </li>
                            <li>
                                <i class = "fas fa-arrow-alt-circle-right"></i>
                                Sea View
                            </li>
                        </ul>
                        <p>Stay in this beachfront hotel and live like a true local in Beirut. We're within walking distance to restaurants, museums, and parks. Our rental comes with 1 bedroom, and a gym, hot tub, and pool that you're free to use any time. Wi-Fi, Netflix, breakfast. We've got everything you need.</p>
                        
                        <p class = "rate">
                            <span>$119.99 /</span> Per Night
                        </p>
                        <button type = "button" class = "btn">book now</button>
                    </div>
                </article>

            </div>
            <div class = "rooms-container" id="rooms-list">
                
                <!-- end of single rooms -->

                <!--start of double rooms-->
                <div class = "title">
                    <h2>Double Rooms</h2>
                </div>
              
                <article class = "room">
                    <div class = "room-image">
                        <img src = "images/img2.jpg" alt = "room image">
                    </div>
                    <div class = "room-text">
                        <h3>Luxury Rooms</h3>
                        <ul>
                            <li>
                                <i class = "fas fa-arrow-alt-circle-right"></i>
                                Double
                            </li>
                            <li>
                                <i class = "fas fa-arrow-alt-circle-right"></i>
                                Available
                            </li>
                            <li>
                                <i class = "fas fa-arrow-alt-circle-right"></i>
                                Sea View
                            </li>
                        </ul>
                        <p>Want to visit Beirut without breaking the bank? We have exactly what you're looking for. Our room comes with 2 bedrooms, gym, hot tub, pool, Wi-Fi, Netflix, and breakfast, and we're within walking distance to restaurants, museums, and parks.</p>
                        
                        <p class = "rate">
                            <span>$159.99 /</span> Per Night
                        </p>
                        <button type = "button" class = "btn">book now</button>
                    </div>
                </article>
              
            </div>
            <div class = "rooms-container" id="rooms-list">
        
                <article class = "room">
                    <div class = "room-image">
                        <img src = "images/img2.jpg" alt = "room image">
                    </div>
                    <div class = "room-text">
                        <h3>Luxury Rooms</h3>
                        <ul>
                            <li>
                                <i class = "fas fa-arrow-alt-circle-right"></i>
                                Double
                            </li>
                            <li>
                                <i class = "fas fa-arrow-alt-circle-right"></i>
                                Available
                            </li>
                            <li>
                                <i class = "fas fa-arrow-alt-circle-right"></i>
                                Mountain View
                            </li>
                        </ul>
                        <p>Thinking about visiting Beirut? I have a 2-bedroom hotel that will be perfect for your stay. This rental comes with amenities such as AC, Wi-Fi, and breakfast. Our gym, hot tub, and pool are yours to enjoy, as well. If you want to go to parks, cafes, and beaches, we're within walking distance.</p>
                        
                        <p class = "rate">
                            <span>$139.99 /</span> Per Night
                        </p>
                        <button type = "button" class = "btn">book now</button>
                    </div>
                </article>
            </div>
            <div class = "rooms-container" id="rooms-list">
    
                <article class = "room">
                    <div class = "room-image">
                        <img src = "images/img2.jpg" alt = "room image">
                    </div>
                    <div class = "room-text">
                        <h3>Luxury Rooms</h3>
                        <ul>
                            <li>
                                <i class = "fas fa-arrow-alt-circle-right"></i>
                                Double
                            </li>
                            <li>
                                <i class = "fas fa-arrow-alt-circle-right"></i>
                                Available
                            </li>
                            <li>
                                <i class = "fas fa-arrow-alt-circle-right"></i>
                                Sea View
                            </li>
                        </ul>
                        <p>This room comes with gym, hot tub, and pool. The AC, Wi-Fi, and breakfast will make you wish you could stay even longer. Our hotel will make sure you'll have a great stay in Beirut.</p>
                        
                        <p class = "rate">
                            <span>$169.99 /</span> Per Night
                        </p>
                        <button type = "button" class = "btn">book now</button>
                    </div>
                </article>
                <!-- end of double rooms -->
            </div>
        </section>
        
        <!--end of body content -->
        
        <!-- footer -->
        <footer class = "footer">
            <div class = "footer-container">
                <div>
                    <h2>About Us </h2>
                    <p>Coming to Beirut to visit? You need to stay at hotel California, this is the hotel you will never regret staying at. Here we have everything you need from gym to free wifi, and many more, in addition to being close to all the things that you might do during your visit.</p>
                    <ul class = "social-icons">
                        <li class = "flex">
                            <i class = "fa fa-twitter fa-2x"></i>
                        </li>
                        <li class = "flex">
                            <i class = "fa fa-facebook fa-2x"></i>
                        </li>
                        <li class = "flex">
                            <i class = "fa fa-instagram fa-2x"></i>
                        </li>
                    </ul>
                </div>

                <div>
                    <h2>Useful Links</h2>
                    <a href = "#">Blog</a>
                    <a href = "#">Rooms</a>
                    <a href = "#">Subscription</a>
                    <a href = "#">Gift Card</a>
                </div>

                <div>
                    <h2>Privacy</h2>
                    <a href = "#">Career</a>
                    <a href = "#">About Us</a>
                    <a href = "#">Contact Us</a>
                    <a href = "#">Services</a>
                </div>

                <div>
                    <h2>Have A Question</h2>
                    <div class = "contact-item">
                        <span>
                            <i class = "fas fa-map-marker-alt"></i>
                        </span>
                        <span>
                            Hamra, Bliss Street, Beirut, LB
                        </span>
                    </div>
                    <div class = "contact-item">
                        <span>
                            <i class = "fas fa-phone-alt"></i>
                        </span>
                        <span>
                            01 234 567
                        </span>
                    </div>
                    <div class = "contact-item">
                        <span>
                            <i class = "fas fa-envelope"></i>
                        </span>
                        <span>
                            hotelCalifornia@gmail.com
                        </span>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end of footer -->
        
        <script src="../static/script.js"></script>
    </body>
</html>
